<!DOCTYPE html>
<html>


<head lang="en">
<meta charset="UTF-8">
<title>Weather Dashboard</title>
<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  background-color: #FFFFFF;
  margin: 0px 25px 0px 40px;
  overflow: hidden;
  height: 5%;
}

.chart{
  background-color: #FFFFFF;

}
.paragraph{
  background-color: #FFFFFF;
  font-size: 20px;
  margin: 0px 175px 0px 100px;
}
a:link, a:visited{
  
  font-size: 20px;
  display: inline-block;
  margin: 0px 0px 10px 0px;

}

</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script type = text/javascript> 

$(document).ready(function(){
  var graphs = {{plot | safe}};
  var timeframeValue = "All"
  Plotly.newPlot('linegraph', graphs)
  $("select").change(function(){
     Plotly.newPlot('linegraph', graphs)
  });      
});

$(function(){
  var timeframeValue = localStorage.getItem("timeframeValue");
  if(timeframeValue != null) {
    $("select[name=timeframes]").val(timeframeValue);
  }

  $("select[name=timeframes]").on("change", function(){
    localStorage.setItem("timeframeValue", $(this).val());
  })
})

</script>
</head>
<body>
<div class="header">
  <p style="font-size:25px;text-align: center;margin: 10px 0px 0px 0px;">Weather Forecast Tracker</p>  
  <p style="font-size:20px;text-align: center;margin: 10px 0px 0px 0px;">Data from <a href="https://openweathermap.org/api"target="_blank">openweathermap.org </a> for Toronto, ON</p>
  <a href="project" style="float: right;margin: -28px 0px 0px 0px;">Project Description</a>
  <form action = "/" method = "GET"style="float: left;margin: -28px 0px 0px 0px;">
    <select name= timeframes onchange="this.form.submit()">
        <option value= "Past" >Past</option>
        <option value= "Future" >Future</option>
        <option value= "All" SELECTED >All</option>
    </select>
  </form>
</div>

<div class="chart">
  <div class="chart" id="linegraph" style="margin: 0px 0px 0px 10px;">  
  </div>  
</div>
<div class="paragraph">
  <p> The goal of this project was to visualize updates to a frequently-changing forecast. The redder lines show predictions made further back in time for the same time period. More detailed views can be seen by chaning the time period (top left).</p>

  <p>Our database is updated hourly using the free OpenWeatherMap API. This gives us the current weather conditions along with a five-day forecast. </p>

  <p>One observation is that the forecast values all seem to lag the actual temperature changes. It is unclear whether this is an artifact, or indicative of a <a href="https://towardsdatascience.com/how-not-to-use-machine-learning-for-time-series-forecasting-avoiding-the-pitfalls-19f9d7adf424"target="_blank"target="_blank">persistence model </a> being used, or caused by something else. Data will be archived for analysis. </p>

</div>
</body>
</html>

