<!DOCTYPE html>
<html>


<head lang="en">
<meta charset="UTF-8">
<title>Weather Dashboard</title>
<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  background-color: #FFFFFF;
  margin: 0px 25px 0px 40px;
  overflow: hidden;
  height: 5%;
}

.chart{
  background-color: #FFFFFF;
}

.paragraph{
  background-color: #FFFFFF;
  font-size: 20px;
  margin: 0px 175px 0px 100px;
}
a:link, a:visited{
  
  font-size: 20px;
  display: inline-block;
  margin: 0px 0px 10px 0px;

}

</style>
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type = text/javascript> 

$(document).ready(function(){
  var graphs = {{plot | safe}};
  Plotly.newPlot('linegraph', graphs)
  $("select").change(function(){
     Plotly.newPlot('linegraph', graphs)
  });      
});

$(function(){
  var timeframeValue = sessionStorage.getItem("timeframeValue");
  if(timeframeValue != null) {
    $("select[name=timeframes]").val(timeframeValue);
  }

  $("select[name=timeframes]").on("change", function(){
    sessionStorage.setItem("timeframeValue", $(this).val());
  })
})

</script>
</head>
<body>
<div class="header">
  <p style="font-size:25px;text-align: center;margin: 10px 0px 0px 0px;">Weather Forecast Tracker</p>  
  <p style="font-size:20px;text-align: center;margin: 10px 0px 0px 0px;">Forecast and Actual Temperatures for Toronto, ON from <a href="https://openweathermap.org/api"target="_blank">openweathermap.org </a></p>
  
  <form action = "/" method = "GET"style="float: left;margin: -35px 0px 0px 0px;">
    <select name= timeframes onchange="this.form.submit()">
        <option value= "Past" >Past</option>
        <option value= "Future" >Future</option>
        <option value= "All" SELECTED >All</option>
    </select>
  </form>
</div>

<div class="chart">
  <div class="chart" id="linegraph" style="margin: 0px 0px 0px 10px;">  
  </div>  
</div>
<div class="paragraph">
  <p> This dashboard is designed to track and visualize updates to a frequently-changing weather forecast. </p>

  <p> A five-day forecast, along with current weather conditions, is retrieved every hour. Each forecast is plotted and colorized, with bluer lines showing predictions made further back in time.</p> 

  <p> You can read more about this project <a href="project" style="margin: -35px 0px 0px 0px;"> here. </a>  </p>

</div>
</body>
</html>

