<!DOCTYPE html>
<html>


<head lang="en">
    <meta charset="UTF-8">
    <title>Weather Dashboard</title>
    <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 500px 500px;
      grid-gap: 10px;
      background-color: #FFFFFF;
      padding: 10px;
    }

    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script type = text/javascript> 

    if (typeof jQuery != 'undefined') {
      // jQuery is loaded => print the version
      alert(jQuery.fn.jquery);
    }
    
    $(document).ready(function(){
      var graphs = {{plot | safe}}
      Plotly.newPlot('linegraph', graphs)
      $("select").change(function(){
         Plotly.newPlot('linegraph', graphs)
      });      
    });

    $(function(){
      var timeframeValue = localStorage.getItem("timeframeValue");
      if(timeframeValue != null) {
        $("select[name=timeframes]").val(timeframeValue);
      }

      $("select[name=timeframes]").on("change", function(){
        localStorage.setItem("timeframeValue", $(this).val());
      })
    })

    if (typeof jQuery != 'undefined') {
  // jQuery is loaded => print the version
  alert(jQuery.fn.jquery);
}
    </script>

</head>

<body>

<div class='container'>

<form action = "/" method = "GET">

  <select name= timeframes onchange="this.form.submit()">
      <option value= "Hours" >Hours</option>
      <option value= "Days" >Days</option>
  </select>

</form>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="linegraph">  
            </div>
        </div>
    </div>
</div>



</body>
</html>

